<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/splash.css">
</head>
<body>
    <div class="contenedorLogoCarga">
        <img src="../img/logoTricdi_art.png" alt="" id="imgLogoCarga">
    </div>
    <div class="waviy">
        <span style="--i:1">L</span>
        <span style="--i:2">O</span>
        <span style="--i:3">A</span>
        <span style="--i:4">D</span>
        <span style="--i:5">I</span>
        <span style="--i:6">N</span>
        <span style="--i:7">G</span>
        <span style="--i:8">.</span>
        <span style="--i:9">.</span>
        <span style="--i:10">.</span>
     
       </div>
</html>